.container {
    margin-top: 3%;
    padding-top: 0px;
    width: 80%;
    margin-left:10%;
    margin-bottom: 3%;
}

.mainHead {
    background-color: #233157;
    color:white;
    text-align: center;
    height: 150px;
    padding-top: 40px;
    width: 80%;
    margin-left: 10%;
}

.mainFoot {
    position: absolute;
    bottom: 0;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    border-top: 1px solid;
    border-top-color:lightgrey;
}

h4 {
    background-color: #233157;
    color:white;
    height: 40px;
    margin: 0;
    padding-top:5px;
}

.articleDump {
    border-color:#233157;
    border: 1px solid;
    margin-top: 3%;
}

.formContain {
    border: 1px solid;
    border-color: #2f3e4e;
    padding-top: 0;
}